pkgbase = gnome-online-accounts-nonprism
	pkgdesc = Single sign-on framework for GNOME
	pkgver = 3.44.0
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/GnomeOnlineAccounts
	arch = x86_64
	license = LGPL
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = vala
	makedepends = git
	makedepends = meson
	depends = webkit2gtk
	depends = json-glib
	depends = libnotify
	depends = rest
	depends = libsecret
	depends = krb5
	depends = gcr
	optdepends = gvfs-goa: Virtual file systems, e.g. OwnCloud
	provides = gnome-online-accounts=3.44.0
	provides = libgoa-1.0.so
	provides = libgoa-backend-1.0.so
	conflicts = gnome-online-accounts
	source = git+https://gitlab.gnome.org/GNOME/gnome-online-accounts.git#commit=568139a2ce9d3791bd90b2b431898f712821c817
	sha256sums = SKIP

pkgname = gnome-online-accounts-nonprism
