pkgbase = libblockdev-light
	pkgdesc = A library for manipulating block devices
	pkgver = 2.28
	pkgrel = 1
	url = https://github.com/rhinstaller/libblockdev
	arch = x86_64
	license = LGPL
	makedepends = autoconf-archive
	makedepends = gobject-introspection
	makedepends = systemd
	makedepends = python
	depends = dosfstools
	depends = gptfdisk
	depends = libbytesize
	depends = ndctl
	depends = parted
	depends = volume_key
	depends = xfsprogs
	depends = kmod
	depends = libyaml
	provides = libblockdev=2.28
	conflicts = libblockdev
	source = libblockdev-light-2.28.tar.gz::https://github.com/rhinstaller/libblockdev/archive/2.28-1.tar.gz
	sha512sums = 22d594604ea6cefe7ad5567037cdebaabac6289757cef9f3cc02dcb585aaa418d227b107363943029988a2c5689a730a746444ed141e1b7b644b9e3dd69647b6

pkgname = libblockdev-light
