pkgbase = libblockdev-light
	pkgdesc = A library for manipulating block devices
	pkgver = 2.27
	pkgrel = 1
	url = https://github.com/rhinstaller/libblockdev
	arch = x86_64
	license = LGPL
	makedepends = autoconf-archive
	makedepends = gobject-introspection
	makedepends = systemd
	makedepends = python
	depends = dosfstools
	depends = gptfdisk
	depends = libbytesize
	depends = ndctl
	depends = parted
	depends = volume_key
	depends = xfsprogs
	depends = kmod
	depends = libyaml
	provides = libblockdev=2.27
	conflicts = libblockdev
	source = libblockdev-light-2.27.tar.gz::https://github.com/rhinstaller/libblockdev/archive/2.27-1.tar.gz
	sha512sums = d6c13d1e3d8aa2b1c721c13a387377c837dec0e7efc1b9a950204d8c879d420fbd57b2f8ab324a4685a8d0dae785a603ec3413d3e9e2987003c1258180bcf6e7

pkgname = libblockdev-light
